/* || GENERAL STYLES */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary:#454545;
    --secondary:#AFAFAF;
    --third:#924AA2;
    --after-variable:var(--secondary);
    --fourth:#747474;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #303030;
}
main{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 93.4rem; 
}
/* || UTILITIES */
/* || SITEWIDE */

.chips-autocomplete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 0.1rem solid var(--primary);
    flex-basis:0;
    height: fit-content;
    flex-grow: 1;
    padding-bottom: 4rem;
}
.header{
    min-height: 1rem;
    margin-bottom: 3rem;
}
.heading{
    position: relative;
    color: var(--secondary);
    font-size: 1.6rem;
    font-weight: 400;
    top: 1.5rem;
    left: 1.5rem;
}
.input-favoirite-fruits{
    display: flex;
    position: relative;
    bottom:0.5rem;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--primary);
    border: 0;
    font-size: 1.7rem;
    color: var(--secondary);
    margin-top: 3rem;
}
.chips-input-display{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 93.7%;
    min-height: 6.5rem;
    background-color: var(--primary);
    border: 0;
    left: 3.2rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    font-size: 1.7rem;
    color: var(--secondary);
}
.input-favoirite-fruits:focus{
    border-color: 0.01rem solid var(--primary);
    outline: none !important;
}
.chips-autocomplete::after{
    content: " ";
    border: 0.1rem solid var(--after-variable);
    background-color: var(--after-variable);
    position: relative;
    width: 93.3%;
    left: 3.2rem;
} 
.input-favoirite-fruits:focus::placeholder{
    color: var(--third);
    position: absolute;
    font-size: 1rem;
    transition: 250ms;
    margin: 0.5rem 0rem;
}
.input-favoirite-fruits::placeholder{
    transition: 250ms;
} 
.chip-items{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.chip-items li{
    display: flex;
    position: relative;
    top: 2.2rem;
    margin: 0.15rem  0.5rem;
    border: 0.1rem solid var(--fourth);
    border-radius: 2rem;
    height: fit-content;
    width: fit-content;
    color: white;
    padding: 0.1rem 1rem;
    background-color: var(--fourth);
    cursor: pointer;
}
.chip-items li i{
    padding-left: 1rem;
}