html{
    font-size: 62.5%;
}
body{
    background-color: #F7F7F7;
} 
.basic, .only-buttons, .only-icons{
    width: 38rem;
    height: 46rem;
}
.text-over-media{
    width: 38rem;
    height: 40rem;

}
.header{
    width: 39rem;
    height: 46.4rem;
}

.frameset{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.horizontal{
    width: 38rem;
    height: 17rem;
}