:root{
    --background-color:#F2F2F2;
    --primary:#6C64EE;
    --primary-shade:#D9C2FB;
    --primary-text-color:#7C66F1;
    --secondary:#666666;
}
/* || General HTML */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--background-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
main{
    background-color: white;
    width: 25rem;
    /* margin: auto; */
}
i{
    color: var(--secondary);
    margin-right: 15%;
}
h2{
    font-size: 300%;
}
/* || Utilities */
.row{
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
    cursor: pointer;
    padding: 3% 7%;
}
.grey{
    color: var(--secondary);
}
.basic-fz{
    font-size: 200%;
}
.basic-padding{
    padding: 7%;
}
/* || Site Specific */
.label-drawer{
    display: flex;
    flex-direction: column;
}
.on-select-style{
    background-color: var(--primary-shade);
}
.on-select-style p{
    color: var(--primary-text-color);
}
.on-select-style i{
    color: var(--primary);
}



/* [ ] padding between icon and text */