/* || GENERAL STYLES */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --primary:#454545;
    --secondary:#AFAFAF;
    --third:#924AA2;
    --after-variable:var(--secondary);
    --fourth:#747474;
    --green:#80F1BB;
    --background-color:#303030;
}
html{
    font-size: 62.5%;
}
body{
    background-color: var(--background-color);
}
main{
    display: flex;
    flex-direction: column;
    width: 33%; 
    margin: auto;
    /* margin: auto; */
}
/* || UTILITIES */
/* || SITEWIDE */

.chips-autocomplete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0.1rem 0.1rem 0.5rem ;
    border-radius: 0.7rem;
    align-items: flex-start;
    border: 0.1rem solid var(--primary);
    flex-basis:0;
    height: fit-content;
    flex-grow: 1;
    padding-bottom: 4rem;
}
.header{
    min-height: 1rem;
    margin-bottom: 3rem;
}
.heading{
    position: relative;
    color: var(--secondary);
    font-size: 1.6rem;
    font-weight: 400;
    top: 1.5rem;
    left: 1.5rem;
    width: fit-content;
}

.chips-input-display{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    min-height: 6.5rem;
    background-color: var(--primary);
    border: 0;
    padding-bottom: 3rem;
    font-size: 1.7rem;
    color: var(--secondary);
}

.chips-autocomplete::after{
    content: " ";
    border: 0.1rem solid var(--after-variable);
    background-color: var(--after-variable);
    position: relative;
    width: 100%;
} 

.chip-items{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
.chip-items li{
    display: flex;
    position: relative;
    top: 2.2rem;
    margin: 0.15rem  0.5rem;
    border-radius: 2rem;
    height: fit-content;
    width: fit-content;
    padding: 0.1rem 1rem;
    cursor: pointer;
}
.grey{
    background-color: var(--fourth);
    border: 0.1rem solid var(--fourth);
    color: white;
}
.voilet{
    background-color: var(--third);
    border: 0.1rem solid var(--third);
    color: white;
}
.green{
    background-color: var(--green);
    border: 0.1rem solid var(--green);
    color: black;
}